<%= form_for(@expense_split) do |f| %>
  <% if @expense_split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_split.errors.count, "error") %> prohibited this expense_split from being saved:</h2>

      <ul>
      <% @expense_split.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :expense_id %><br>
    <%= f.number_field :expense_id %>
  </div>
  <div class="field">
    <%= f.label :amount_owe %><br>
    <%= f.number_field :amount_owe %>
  </div>
  <div class="field">
    <%= f.label :amount_pay %><br>
    <%= f.number_field :amount_pay %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
